/***************************
   Base style
***************************/
body {
   font-family: 'Helvetica Neue', Arial, Sans-serif;
   font-size: 16px;
   line-height: 1.5;
 }

 /***************************
   Focus
***************************/
:focus {
   outline: 3px solid #89b9ea;;
 }
 
 /***************************
    Buttons
 ***************************/
 /*
 button {
   background: #333;
   border: 1px solid #fff;
   color: #fff;
   cursor: pointer;
   font-size: 1rem;
   padding: .75rem 1rem;
 }
 

 button:hover {
   background: #555;
 } 
 
 button:active {
 } 
 */
 /***************************
    Links
 ***************************/
 a {
   color: #0555a4;
 }
