/***************************
   Base style
***************************/
:root {
	--color-grey-dark: #333333;
	--color-grey: #e5e5e5;
	--color-grey-light: #f2f2f2;
	--color-link: #0555a4;
  --color-focus: #89b9ea;
  --color-danger: #990000;
  --color-success: #00700F;
}

body {
  font-family: 'Helvetica Neue', Arial, Sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/***************************
  Focus
***************************/
:focus {
  outline: 3px solid var(--color-focus);;
}

/***************************
  Links
***************************/
a {
  color: var(--color-link);
}

/***************************
  Buttons
***************************/
button, 
.button,
button:hover,
.button:hover {
  background: var(--color-grey-dark);
  border: 3px solid var(--color-grey-dark);
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: .6rem 1rem; 
  text-align: center;
  text-decoration: none;
  transition: filter 200ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
.button:hover {
  filter: contrast(3);
}

/***************************
  Links
***************************/
input {
  border: 1px solid #000;
  font-size: 1rem;
  padding: .7rem 1rem;
}
