/*  Layout rules -
    Positioning, sizing and other styling of *major* structural layout elements (eg. header, main navigation, 
    footer, main content) are layout rules and belong here. Also rules for a grid system would
    fit here. Think of Layout rules as the part of the CSS that should make a page keep it's 
    main look and feel if all other CSS was removed (at least if you would squint really hard). */

.layout-header {
    padding-bottom: 1em;
}

.layout-header-text {
    &, &:hover {
        color: var(--color-grey-dark);
    }
    display: inline-block;
    font-family: "BerlingRoman", serif;
    font-size: 1rem;
    letter-spacing: 0.05em;
    margin: 1em 0;
    text-align: center;
    text-decoration: none;
}

.layout-header {
    background-color: var(--color-grey-light);
    padding-bottom: 0;
    margin-bottom: 2em;
}

/* Image in header */
.layout-header-image {
    background-image: url('../theme-system/img/header.png');
    background-size: 100vw;
}

.layout-header-image .layout-header-text {
    background: var(--color-black-transparent);
    color: #fff;
    padding: .5em .75em;
    margin: .5em 0;
}

/* Header - larger screens*/
@media (min-width: 768px) {

    .layout-header {
        min-height: 130px;
    }

    .layout-header-text {
        font-size: 1.5rem;
    }

}

/* Footer */
.layout-footer {
    background-color: var(--color-grey-dark);
    margin-top: 100px;
    min-height: 100px;
}