/**********************************
    Code block
***********************************/

.code-block {
	background-color: var(--light-grey);
	border: 1px solid #ccc;
	border-radius: 5px;
	display: block;
	margin: 0.5em 0 1em 0;
	padding: 10px;
	white-space: pre-wrap;
}

.code-comment {
	color: #888;
}