.form-group {
    margin-bottom: 1em;
}

.label {
    display: inline-block;
    margin-bottom: .5rem;
}

.label-required::after {
    content: ' *';
    color: var(--color-danger);
}

.form-errors-list {
    color: var(--color-danger);
    list-style: none;
    padding: 0;
}

.form-input-success {
    background-color: #DFF0D8; /* create variable */
    border-color: #D6E9C6; /* create variable */
}

.form-input-error {
    background-color: #F2DEDE; /* create variable */
    border-color: #EED3D7; /* create variable */
}