/**********************************
    UU Logo
***********************************/

.logo {
    background-color: #fff;
    display: inline-block;
    height: 122px;
    width: 122px;
        max-width: 100%;
}

.logo-tag-style {
    border: 0.1px solid #eee;
    padding: 50px 5px 5px 5px;
    height: auto;
}

.logo-shadow {
    border: 0;
    box-shadow: 0 0 3px #bbb;
}

.logo-wrapper {
    position: absolute;
    z-index: 100000;
}

.logo-pull-up {
    margin-top: 0; 
}

.logo-mobile {
    height: 120px;
    width: 120px;
}